<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="olshopMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./', 'add']">
        <ion-icon name="add" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" offset-sm="0" size-lg="8" offset-lg="2">
        <ion-list>
          <ion-item-sliding *ngFor="let items of items" #slidingItem>
            <ion-item-options side="start">
              <ion-item-option color="danger" (click)="presentAlertConfirm(items, slidingItem)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item [routerLink]="['./', items.id]">
              <ion-thumbnail slot="start">
                <ion-img [src]="items.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <b>{{items.merk}} {{items.model}}</b><br>
                Rp {{items.harga}}<br>
                Tersedia: {{items.stok}}
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="edit(items, slidingItem)">
                <ion-icon name="heart" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
